@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

@keyframes abreMenu {
    0% {
        transform: translateX(-110%);
    }
    100% {
        transform: translateX(0);
    }
}
 
/*menu*/
.navMenu {
    padding-top: 10vh;
    padding-left: 1.75vw;
    width: 6vw;
    justify-content: space-between;
    cursor: pointer;
}

.navMenu > div {
    height: 1.5vh;
    width: 4vw;
    background: #342D29;
    border-radius: 2vh;
    margin: 0.25vh;
}

nav {
    position: fixed;
}

nav > ul {
    list-style: none;
    padding-top: 4vh;
    margin: 1.75vw;
    width: 18vw;
    height: 70vh;
    background-color: #342D29;
    border-radius: 15px;
    font-family: 'Arima Madurai', cursive;
    font-weight: 700;
    font-size: 2vh;
    line-height: 5vh;
    letter-spacing: 0.5vh;
    color: #D4C0AB;
    transform: translateX(-110%);
}

.nav-list {
    transform: translateX(0);
    animation: abreMenu 1s;
    overflow-y: scroll;
}

/*personagens e cenários*/
.add-personagem, .add-cenario {
    width: 13vw;
    border: 1.5px solid #D4C0AB;
}

.container-personagem > div, .container-cenario > div {
    width: 13vw;
    height: 5vh;
    text-align: left;
    border-radius: 15px;
    font-weight: 400;
    font-size: 2vh;
    line-height: 5vh;
    color: #D4C0AB;
    cursor: pointer;
    /*background-color: #CFC3BC;*/
}

/*linha do tempo*/
.timeline {
    position: fixed;
    height: 1.2vh;
    width: 80vw;
    top: 95vh;
    left: 10vw;
    border-radius: 2vh;
    background-color: #342D29;
}

/*área de trabalho*/
.workspace {
    margin-top: 18vh;
    padding: 10px;
    width: 50vw;
    height: 70vh;
    text-justify: auto;
    font-family: 'Arima Madurai', cursive;
    font-size: 2.5vh;
    color: #342D29;
    overflow-y: scroll;
}

.workspace > div {
    width: 100%;
    height: auto;
    font-weight: 700;
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
}

.area-dialogo {
    width: 100%;
    height: auto;
    padding-top: 1vh;
    font-weight: 700;
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
}

#areaCenario {
    height: 6vh;
    font-weight: 900;
    background-color: #342D29;
    color: #D4C0AB;
    border-radius: 15px;
    text-align: center;
    line-height: 6vh;
}

textarea {
    padding: 8px;
    min-height: 5vh;
    background-color: #D4C0AB;
    border-radius: 15px;
    font-family: 'Arima Madurai', cursive;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    resize: vertical;
}

.bt-delete {
    height: 4vh;
    width: 2.5vw;
    background-color: #342D29;
    border: 0 none;
    font-family: 'Orelega One', cursive;
    text-align: center;
    font-weight: 400;
    font-size: 2.7vh;
    color: #D4C0AB;
    cursor: pointer;
    align-self: flex-end;
}

.div-cenario {
    height: 5vh;
    width: 100%;
    background-color: #D4C0AB;
    border-radius: 15px;
}

.add-emocao {
    height: 3vh;
    width: 2.5vw;
    margin-top: 0.5vh;
    color: #D4C0AB;
    border: 0 none;
    font-family: 'Orelega One', cursive;
    text-align: center;
    font-weight: 400;
    font-size: 2.7vh;
    background-color: #342D29;
    cursor: pointer;
    align-self: flex-end;
}