body {
    padding-top: 1em;
}

main {
    font-family: 'Arima Madurai', cursive;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

.area-emocoes > div {
    width: 90%;
    display: flex;
    flex-direction:row;
    min-height: 30%;
    max-height: fit-content;
    margin: -1em;
    height: 6vh;
    font-weight: 900;
    text-align: center;
    line-height: 6vh;
    margin: 1em;
    padding: 1em;
    cursor: pointer;
}

.area-emocoes > div > div{
    padding-left: 1em;
}

button {
    width: 60%;
}