@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

:root {
    --main-background-color: #D4C0AB;
    --menu-color: #342D29;
}

* {
    box-sizing: border-box;
}

/*barra rolagem*/
::-webkit-scrollbar {
    width: 0.7vw;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--menu-color);
}


a {
    text-decoration: none;
}

html, body {
    background-color: var(--main-background-color);
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.menu {
    position: absolute;
    width: 100vw;
    height: 7vh;
    padding-left: 1vw;
    background-color: var(--menu-color);
    color: var(--main-background-color);
}

.menu > h1 {
    position: fixed;
    margin-left: 10vw;
    text-align: center ;
    line-height: 7vh;
    width: 80vw;
}

.menu > div {
    position: fixed;
    height: 5vh;
    width: 8vw;
    margin-left: 92vw;
    text-justify: auto;
    font-family: 'Orelega One', cursive;
    font-size: 3.5vh;
    line-height: 7vh;
    color: var(--main-background-color);
    cursor: pointer;
}

/*botão*/
button, .botao {
    width: 12vw;
    height: 6vh;
    background-color: var(--menu-color);
    border: 0 none;
    border-radius: 15px;
    font-family: 'Orelega One', cursive;
    text-align: center;
    font-weight: 400;
    font-size: 2.7vh;
    color: var(--main-background-color);
    cursor: pointer;
    outline: none;
}
